<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../img/logo_intellicard.png" type="image/x-icon">
        <link type="text/css" rel="stylesheet" href="../css/manage.css">
        <link type="text/css" rel="stylesheet" href="../css/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Deck</title>
    </head>

    <body class="body2">
        <div id="modalarchive" class="modal">
            <div id="modal_valid_arc" class="modal_valid_arc">
                <% if(archives && archives.length > 0) { %>
                    <% archives.forEach(element => { %>
                        <div data-id="<%= element.id_deck %>" class="deck_display archives">
                            <h2 class="title_deck_display"><%= element.name %></h2>
                            <div class="votes">
                                <div class="each_vote up_vote"><i class="fa fa-arrow-up"></i><div><%= element.up_vote %></div></div>
                                <div class="each_vote down_vote"><i class="fa fa-arrow-down"></i><div><%= element.down_vote %></div></div>
                                <div class="each_vote nb_cards"><i class="fas fa-clone"></i><div><%= element.card_count %></div></div>
                                <% if(element.type == "PARCOURS"){ %><div class="each_vote nb_step"><i class="fa-solid fa-route"></i><div><%= element.step_count %></div></div><% } %>
                                <% if(element.acces_type === 'PRIVATE') { %><div class="each_vote acces"><i class='fas fa-lock'></i></div><% } %>
                            </div>
                            <div class="tag_container">
                                <div class="tag"><p><span class="puce">◉</span>&ensp; <%= element.tag %></p></div>
                                <div class="level"><p><span class="puce">◉</span>&ensp; <%= element.level %></p></div>
                            </div>
                            <div class="average_score">
                                <div>Score moyen : <% switch (element.average_score) {
                                                        case 1:
                                                    %>
                                                        <i class="fa-solid fa-face-frown TM"></i>
                                                    <%        
                                                            break;
                                                        case 2:
                                                    %>
                                                        <i class="fa-solid fa-face-frown-open M"></i>
                                                    <%        
                                                            break;
                                                        case 3:
                                                    %>
                                                        <i class="fa-solid fa-face-meh N"></i>
                                                    <%        
                                                            break;
                                                        case 4:
                                                    %>
                                                        <i class="fa-solid fa-face-smile B"></i>
                                                    <%        
                                                            break;
                                                        case 5:
                                                    %>
                                                        <i class="fa-solid fa-face-laugh TB"></i>
                                                    <%        
                                                            break;
                                                    
                                                        default:
                                                    %>
                                                        <i class='fas fa-ban NEW'></i>
                                                    <%
                                                            break;
                                } %></div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="error">Vous n'avez aucun deck archivé</p>
                <% } %>
            </div>
        </div>

        <header class="header_nav_pc">
            <div class="container">
                <div class="navbar">
                    <ul class="pc">
                        <a href="/hub" class="li_nav"><span class="white">Jeux</span></a>
                        <a href="/decks" class="li_nav"><span class="white">Decks</span></a>
                        <a href="/home" class="li_nav"><span class="white">Accueil</span></a>
                        <a href="/search" class="li_nav"><span class="white">Recherche</span></a>
                        <a href="/profil" class="li_nav"><span class="white">Profil</span></a>
                        <a href="/gestion" class="li_nav"><span class="white">Gestion</span></a>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="main_manager">
                <div class="display_choice">
                    <h1 id="show_deck" class="h1_fancy toggle_display bright_display"><span class="fancy">Deck</span></h1>
                    <h1 id="show_parcours" class="h1_fancy toggle_display"><span class="fancy">Parcours</span></h1>
                    <i id="btn_archives" class="fa-solid fa-box-archive" style="color: white; cursor: pointer;"></i>
                    
                </div>

                <div class="display_results">
                    
                    <div id="deck_container" class="deck_container">
                        <% if(deck && deck.length > 0) { %>
                            <% deck.forEach(element => { %>
                                <a href="deck/<%= element.id_deck %>" data-id="' + element.id_deck + '" class="deck_display consulting">
                                    <h2 class="title_deck_display"><%= element.name %></h2>
                                    <div class="votes">
                                        <div class="each_vote up_vote"><i class="fa fa-arrow-up"></i><div><%= element.up_vote %></div></div>
                                        <div class="each_vote down_vote"><i class="fa fa-arrow-down"></i><div><%= element.down_vote %></div></div>
                                        <div class="each_vote nb_cards"><i class="fas fa-clone"></i><div><%= element.card_count %></div></div>
                                        <% if(element.acces_type === 'PRIVATE') { %><div class="each_vote acces"><i class='fas fa-lock'></i></div><% } %>
                                    </div>
                                    <div class="tag_container">
                                        <div class="tag"><p><span class="puce">◉</span>&ensp; <%= element.tag %></p></div>
                                        <div class="level"><p><span class="puce">◉</span>&ensp; <%= element.level %></p></div>
                                    </div>
                                    <div class="average_score">
                                        <div>Score moyen : <% switch (element.average_score) {
                                                                case 1:
                                                            %>
                                                                <i class="fa-solid fa-face-frown TM"></i>
                                                            <%        
                                                                    break;
                                                                case 2:
                                                            %>
                                                                <i class="fa-solid fa-face-frown-open M"></i>
                                                            <%        
                                                                    break;
                                                                case 3:
                                                            %>
                                                                <i class="fa-solid fa-face-meh N"></i>
                                                            <%        
                                                                    break;
                                                                case 4:
                                                            %>
                                                                <i class="fa-solid fa-face-smile B"></i>
                                                            <%        
                                                                    break;
                                                                case 5:
                                                            %>
                                                                <i class="fa-solid fa-face-laugh TB"></i>
                                                            <%        
                                                                    break;
                                                            
                                                                default:
                                                            %>
                                                                <i class='fas fa-ban NEW'></i>
                                                            <%
                                                                    break;
                                        } %></div>
                                    </div>
                                </a>
                            <% }); %>
                        <% } else { %>
                            <p class="error">Vous n'avez débloqué aucun deck</p>
                        <% } %>
                    </div>
                    <div id="parcours_container" class="parcours_container hide_container">
                        <% if(parcours && parcours.length > 0) { %>
                            <% parcours.forEach(element => { %>
                                <a href="deck/<%= element.id_deck %>" data-id="' + element.id_deck + '" class="deck_display consulting">
                                    <h2 class="title_deck_display"><%= element.name %></h2>
                                    <div class="votes">
                                        <div class="each_vote up_vote"><i class="fa fa-arrow-up"></i><div><%= element.up_vote %></div></div>
                                        <div class="each_vote down_vote"><i class="fa fa-arrow-down"></i><div><%= element.down_vote %></div></div>
                                        <div class="each_vote nb_cards"><i class="fas fa-clone"></i><div><%= element.card_count %></div></div>
                                        <% if(element.type == "PARCOURS"){ %><div class="each_vote nb_step"><i class="fa-solid fa-route"></i><div><%= element.step_count %></div></div><% } %>
                                        <% if(element.acces_type === 'PRIVATE') { %><div class="each_vote acces"><i class='fas fa-lock'></i></div><% } %>
                                    </div>
                                    <div class="tag_container">
                                        <div class="tag"><p><span class="puce">◉</span>&ensp; <%= element.tag %></p></div>
                                        <div class="level"><p><span class="puce">◉</span>&ensp; <%= element.level %></p></div>
                                    </div>
                                    <div class="average_score">
                                        <div>Score moyen : <% switch (element.average_score) {
                                                                case 1:
                                                            %>
                                                                <i class="fa-solid fa-face-frown TM"></i>
                                                            <%        
                                                                    break;
                                                                case 2:
                                                            %>
                                                                <i class="fa-solid fa-face-frown-open M"></i>
                                                            <%        
                                                                    break;
                                                                case 3:
                                                            %>
                                                                <i class="fa-solid fa-face-meh N"></i>
                                                            <%        
                                                                    break;
                                                                case 4:
                                                            %>
                                                                <i class="fa-solid fa-face-smile B"></i>
                                                            <%        
                                                                    break;
                                                                case 5:
                                                            %>
                                                                <i class="fa-solid fa-face-laugh TB"></i>
                                                            <%        
                                                                    break;
                                                            
                                                                default:
                                                            %>
                                                                <i class='fas fa-ban NEW'></i>
                                                            <%
                                                                    break;
                                        } %></div>
                                    </div>
                                </a>
                            <% }); %>
                        <% } else { %>
                            <p class="error">Vous n'avez débloqué aucun parcours</p>
                        <% } %>
                    </div>
                    
                </div>
                
            </div>
            
        </main>
        <footer class="header_nav_mobile">
            <div class="container">
                <div class="navbar">
                    <div class="mobile">
                        <div class="li_nav"><a href="/hub"><i class='fas fa-gamepad'></i></a></div>
                         
                        <div class="li_nav"><a href="/decks"><i class="fas fa-clone"></i></a></div>
                         
                        <div class="li_nav"><a href="/home"><i class='fas fa-home'></i></a></div>
                         
                        <div class="li_nav"><a href="/search"><i class='fas fa-search'></i></a></div>
                         
                        <div class="li_nav"><a href="/profil"><i class='fas fa-user-alt'></i></a></div>
                         
                        <div class="li_nav"><a href="/gestion"><i class='fas fa-wrench'></i></a></div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="../js/functions.js"></script>
    <script src="../js/setup.js"></script>
    <script>
        $(document).ready(function () {         
            $(".toggle_display").click(function(){
                $("#show_deck").toggleClass('bright_display')
                $("#show_parcours").toggleClass('bright_display')
                $("#deck_container").toggleClass('hide_container')
                $("#parcours_container").toggleClass('hide_container')
            })


            $('.archives').click(function (e) {
                const id_deck = $(this).data("id")
                $.ajax({
                    url: '/desarchivage_deck',
                    type: 'POST',
                    data:{id_deck: id_deck},
                    success: function(response) {
                        window.location.href = "/deck/"+response.deck;
                    },
                    error: function(xhr, status, error) {
                        // Récupération de l'erreur
                        console.error('Erreur de requête:', error, xhr);
                        // Traitement de l'erreur
                        document.getElementById("error_content").innerHTML = xhr.responseJSON.message;
                        showError()
                    }
                });
            })
        });

        $('#btn_archives').click(function(){
            $("#modalarchive").css('display', 'flex');
        });
    </script>
</html>